%p#notice= notice
%h1 Posts
%table.table.table-striped
  %thead
    %tr
      %th Subject
      %th Content
      %th{:colspan => "3"}
  %tbody
    - @posts.each do |post|
      %tr
        %td= post.subject
        %td= post.content
        %td
          -if post.image?
            = image_tag post.image_url(:thumb)
        %td= link_to 'Show', post
